blueprints/basic/http-request.json
{
  "name": "HTTP Request Template",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "{{HTTP_METHOD}}",
        "url": "{{API_URL}}",
        "authentication": "none",
        "options": {
          "timeout": 10000,
          "followRedirects": true,
          "ignoreResponseCode": false,
          "followAllRedirects": false
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        }
      },
      "id": "http-request-node",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.statusCode }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["template", "http"],
  "meta": {
    "templateId": "http-request",
    "parameters": {
      "HTTP_METHOD": {
        "description": "HTTP method (GET, POST, PUT, DELETE)",
        "default": "GET",
        "required": true
      },
      "API_URL": {
        "description": "Full URL for the API endpoint",
        "required": true,
        "example": "https://api.example.com/data"
      }
    }
  }
}