blueprints/basic/scheduler.json
{
  "name": "Scheduled Task Template",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "hours"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Scheduled task logic\nconst timestamp = new Date();\n\nreturn [{\n  json: {\n    execution_time: timestamp.toISOString(),\n    task: 'Scheduled task executed',\n    next_run: new Date(timestamp.getTime() + 3600000).toISOString() // +1 hour\n  }\n}];"
      },
      "id": "scheduled-task",
      "name": "Scheduled Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "=Scheduled task completed at {{ $json.execution_time }}",
        "additionalFields": {}
      },
      "id": "notification",
      "name": "Send Notification (Configure)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300],
      "disabled": true,
      "notes": "Enable and configure with your notification service"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Scheduled Task", "type": "main", "index": 0}]]
    },
    "Scheduled Task": {
      "main": [[{"node": "Send Notification (Configure)", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["template", "scheduler", "cron"]
}