flows/github-slack.json
{
  "name": "GitHub to Slack Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook"
      },
      "id": "webhook-node",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "github-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"action\"]}}",
              "value2": "opened"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Check PR Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const pr = items[0].json.pull_request;\nconst repo = items[0].json.repository;\n\nconst message = {\n  text: `New Pull Request Opened`,\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: `PR #${pr.number}: ${pr.title}`\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        {\n          type: 'mrkdwn',\n          text: `*Repository:*\\n${repo.full_name}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Author:*\\n${pr.user.login}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Branch:*\\n${pr.head.ref} → ${pr.base.ref}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Status:*\\n${pr.state}`\n        }\n      ]\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: pr.body || 'No description provided'\n      }\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: {\n            type: 'plain_text',\n            text: 'View PR'\n          },\n          url: pr.html_url,\n          style: 'primary'\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{\n  json: message\n}];"
      },
      "id": "format-message-node",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUri": "={{ $credentials.webhookUrl }}",
        "options": {
          "sendAsJson": true
        }
      },
      "id": "slack-node",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        850,
        250
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-webhook-credential",
          "name": "Slack Webhook"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Pull request action '{{ $json[\"action\"] }}' ignored (not 'opened')"
            }
          ]
        }
      },
      "id": "no-action-node",
      "name": "No Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        650,
        350
      ]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Check PR Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PR Action": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "github"
    },
    {
      "name": "slack"
    }
  ]
}